contourpy       
cycler         
fonttools       
joblib          
kiwisolver     
matplotlib      
numpy           
packaging       
pandas         
pillow          
pip             
pyarrow         
pyparsing       
python-dateutil 
pytz            
scikit-learn    
scipy           
six             
threadpoolctl   
tzdata          